*{
    box-sizing: border-box; /* propiedad para que hace que los elementos no crezcan mas de lo asignado*/
}
body{
    margin: 0; /*Para quitar los margenes establecidos por default*/
    background-color: rgb(114, 85, 85);
}
.log{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: red;
}
.log:hover{ /* propiedad para que cada vez que se seleccione el boton haga una especie de sombra*/
    background-color: brown;
}
.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(161, 144, 125);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 30px;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .a-f{
    font-size: 30px;
    color: black;
    text-decoration: none;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cate-p nav{
    background-color: burlywood;
    padding: 20px 20px;
}
.cate-p nav a{
    max-width: 1400px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-decoration: none;
    padding: 20px 20px;
    text-align: center;
}
/*Style for login.html*/
.bdy-lgn{
    background-color: antiquewhite;
    display: flex;
}
.lgn{
    background-color: aliceblue;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5px 1.5px;
}
.h-lgn h1{
    background-color: burlywood;
    font-style: oblique;
   text-align: center;
}
.btninicio{
    text-align: center;
}
/*style for "encargo.html"*/
.menu{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: burlywood;
    padding: 10px 10px;
}
.menu a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
}
.encargos{
    background-color: aliceblue;
}
/*style for categoria-puertas.html*/
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div figure{
    display: inline-block;
    margin: 10px;
}
img{
    width: 300px;
    display: block;
}
div figcaption{
    width: 300px;
    font-size: 20px;
    background-color: blanchedalmond;
    text-align: justify;
}

/*style for section class productos*/
.productos{
    display: flex;
    flex-wrap: wrap;
}
.productos div {
  display: flex;             
  flex-direction: column;    
  align-items: center;
}

.productos div figure {
  display: inline-block;
  margin: 10px;
}

.productos div img {
  width: 100px;
  display: block;
}

.productos div figcaption {
  width: 100px;              
  font-size: 15px;
  background-color: blanchedalmond;
  text-align: left;
}
/*Style for page of the products*/

.info{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
.info img{
    width: 300px;
}
.info-form{
    background-color: bisque;
    padding-bottom: 210px;
    width: 200px;
}
.info-form .title{
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 40px;
}
.info-form .colour{
    font-family: monospace;
    font-size: 25px;  
    color: gray; 
}